extend ../layouts/common.pug
block head
     title cập nhật dữ liệu trận đấu 
     script(src="/public/js/updateMatch.js") 
block content
     -const team1Id = match.teams[0]._id
     -const team2Id = match.teams[1]._id
     -const team1 = match.teams[0].name
     -const team2 = match.teams[1].name
     h1 Cập nhật kết quả trận đấu
     button.btn.btn-primary(type='button', data-bs-toggle='modal', data-bs-target='#exampleModal') Update

     #exampleModal.modal.fade(tabindex='-1', aria-labelledby='exampleModalLabel', aria-hidden='true')
          .modal-dialog
               .modal-content
                    .modal-header
                         h5#exampleModalLabel.modal-title Cập nhật kết quả
                         button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
                    .modal-body
                         form(method="POST" id="form")
                              .mb-3
                                   label(for="team" class="form-label") Đội bóng
                                   select.form-select(onchange="getValTeam(this)" id="team")
                                        option(selected="") Chọn đội bóng
                                        option(value=team1Id)= team1
                                        option(value=team2Id)= team2
                              #playerSelected
                              #alertMessage
                              input(type="hidden" name="details" id="details")
                    .modal-footer
                         button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Đóng
                         button.btn.btn-primary(type='button' id="addBtn") Gửi



     table.table.table-responsive#table-info
          thead 
               tr
                    th STT
                    th Đội
                    th Cầu thủ
                    th Bàn thắng 
                    th Thẻ vàng 
                    th Thẻ đỏ
                    th Thời điểm
          tbody#match-info 
               - var i=0
               while i++ < 10
                    tr.placeholder-glow
                         td 
                              span.placeholder.w-100
                         td 
                              span.placeholder.w-100
                         td 
                              span.placeholder.w-100
                         td 
                              span.placeholder.w-100
                         td 
                              span.placeholder.w-100
                         td 
                              span.placeholder.w-100
                         td 
                              span.placeholder.w-100
     button.btn.btn-primary.d-flex.m-auto(type="button" id="sendBtn")  Lưu
